html{
    font-size: 5px;
}

body{
    margin: 0px;
}

.forma1{
    background-color: red;
    width: 50vw;
    height: 100vh;
    font-size: 4rem;
    font-weight: bolder;
    /* padding-top: 125px;
    padding-right: 50px;
    padding-bottom: 125px;
    padding-left: 50px;
     */
    padding: 125px 125px 125px 125px;
    border-top: 10px solid orange;
    border-right: 10px solid yellow;
    margin: 25px 20px 30px 12px;
}

.forma2{
    background-color: green;
    width: 50%;
    font-size: 3rem;
    height: 250px;
    color: white;
}
.forma3{
    background-color: blue;
    width: 90vw;
    height: 90vh;
    font-size: 10rem;
}