html{
    font-size: 5px;
}

.forma1{
    background-color: red;
    width: 50%;
    height: 250px;
    font-size: 4rem;
    font-weight: bolder;
}

.forma2{
    background-color: green;
    width: 50%;
    font-size: 3rem;
    height: 250px;
    color: white;
}