html{
    font-size: 5px;
}

body{
    margin: 0px;
}

.forma1{
    background-color: red;
    width: 100vw;
    height: 100vh;
    font-size: 4rem;
    font-weight: bolder;
}

.forma2{
    background-color: green;
    width: 50%;
    font-size: 3rem;
    height: 250px;
    color: white;
}
.forma3{
    background-color: blue;
    width: 90vw;
    height: 90vh;
    font-size: 10rem;
}